@import "../../../theme.scss";

:host {
  .sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-right: 1px solid $smoke;
    height: 100%;
    padding: 0 $padding-m $padding-m $padding-m;

    &__logo {
      max-width: 100px;
      height: auto;
    }

    &__links {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
    }

    &__settings {
      width: 100%;
      align-self: flex-end;
      margin-top: auto;
    }
    &__spacer {
      border-bottom: 1px solid $dark;
      padding: $padding-s 0rem;
    }
  }
}
