@import "../../../../theme.scss";

:host {
  .link {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;

    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }

    &.active {
      background-color: $primary-color;
    }

    .icon {
      margin: 0.5rem;
    }
  }
}
