<a class="link" routerLink="{{ link.url }}" routerLinkActive="active">
  <ng-container [ngSwitch]="link.url">
    <!-- Profile settings template start -->
    <ng-container *ngSwitchCase="'/settings/profile/'">
      <app-profile></app-profile>
    </ng-container>
    <!-- Profile settings template end-->

    <!-- Default link template start -->
    <ng-container *ngSwitchDefault>
      <mat-icon
        *ngIf="link.icon"
        class="icon"
        fontSet="material-icons-outlined"
      >
        {{ link.icon }}
      </mat-icon>
      {{ link.title }}
      <app-badge
        *ngIf="link.notifications"
        [color]="'white'"
        [text]="link.notifications"
      ></app-badge>
    </ng-container>
    <!-- Default link template end -->
  </ng-container>
</a>
