@import "../../../../theme.scss";

:host {
  display: block;
  height: 100%;

  .profile-settings {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1.25fr;
    gap: 2rem;
  }

  .profile-spinner {
    height: 100%;
    display: flex;

    p {
      margin: auto;
    }
  }
}
