@import "../../../../theme.scss";

:host {
  .profile-form {
    display: flex;
    flex-flow: column nowrap;
    gap: $padding-m;

    h1 {
      margin-top: 0;
    }

    input {
      @include styled-input;
    }

    &__field {
      position: relative;
      &.invalid {
        input {
          @include border($bloody-red);

          &:focus + .tooltip {
            display: flex;
          }
        }

        span {
          color: $bloody-red;
          display: inline-block;
          font-size: $font-size-xs;
        }
      }
    }
  }
}

.tooltip {
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -5px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: $dark;
  }

  display: none;
  flex-flow: column nowrap;
  position: absolute;
  z-index: 1001;
  padding: $padding-s;
  margin-top: $padding-s;
  box-shadow: 2px 2px 4px $dark;
  background-color: $dark;
  border-radius: 4px;
  margin-left: 12px;
  left: 100%;
  top: 40%;

  .title {
    display: flex;
    color: $bloody-red;
    font-size: $font-size-s;

    mat-icon {
      font-size: 1.2rem;
      width: 1.2rem;
      height: auto;
    }
  }

  p {
    margin: 0;
    padding: $padding-s;
    font-size: $font-size-xs;
    color: $correct-green;
    white-space: nowrap;

    &.error {
      color: $bloody-red;
    }
  }
}
