<form class="profile-form" [formGroup]="profileForm" autocomplete="off">
  <!-- First name input start -->
  <section
    class="profile-form__field"
    [ngClass]="{ invalid: profileForm.controls['firstName'].invalid }"
  >
    <label for="first-name">First name</label>
    <input
      autocomplete="off"
      id="first-name"
      formControlName="firstName"
      [attr.type]="EFormField.Text"
    />
    <ng-container
      *ngTemplateOutlet="
        validation;
        context: {
          errors: profileForm.controls['firstName'].errors || {},
          type: EFormField.Text
        }
      "
    >
    </ng-container>
  </section>
  <!-- First name input end -->

  <!-- Last name input start -->
  <section
    class="profile-form__field"
    [ngClass]="{ invalid: profileForm.controls['lastName'].invalid }"
  >
    <label for="last-name">Last name</label>
    <input
      autocomplete="off"
      id="last-name"
      formControlName="lastName"
      [attr.type]="EFormField.Text"
    />
    <ng-container
      *ngTemplateOutlet="
        validation;
        context: {
          errors: profileForm.controls['lastName'].errors || {},
          type: EFormField.Text
        }
      "
    >
    </ng-container>
  </section>
  <!-- Last name input end -->

  <!-- Email input start -->
  <section
    class="profile-form__field"
    [ngClass]="{ invalid: profileForm.controls['email'].invalid }"
  >
    <label for="email">Email</label>
    <input id="email" formControlName="email" [attr.type]="EFormField.Email" />
    <ng-container
      *ngTemplateOutlet="
        validation;
        context: {
          errors: profileForm.controls['email'].errors || {},
          type: EFormField.Email
        }
      "
    >
    </ng-container>
  </section>
  <!-- Email input end -->

  <!-- Password input start -->
  <section
    class="profile-form__field"
    [ngClass]="{
      invalid: profileForm.controls['password'].invalid || profileForm.errors
    }"
  >
    <label for="password">Password</label>
    <input
      autocomplete="off"
      id="password"
      formControlName="password"
      [attr.type]="EFormField.Password"
    />
    <ng-container
      *ngTemplateOutlet="
        validation;
        context: {
          errors: profileForm.controls['password'].errors || {},
          formErrors: profileForm.errors || {},
          type: EFormField.Password
        }
      "
    >
    </ng-container>
  </section>
  <!-- Password input end -->

  <!-- Repeat password input start -->
  <section
    class="profile-form__field"
    [ngClass]="{
      invalid:
        profileForm.controls['repeatPassword'].invalid || profileForm.errors
    }"
  >
    <label for="repeatPassword">Repeat password</label>
    <input
      autocomplete="off"
      id="repeatPassword"
      formControlName="repeatPassword"
      [attr.type]="EFormField.Password"
    />
    <ng-container
      *ngTemplateOutlet="
        validation;
        context: {
          errors: profileForm.controls['repeatPassword'].errors || {},
          formErrors: profileForm.errors || {},
          type: EFormField.Password
        }
      "
    >
    </ng-container>
  </section>
  <!-- Repeat password input end -->

  <app-button
    class="profile-form__submit"
    [isDisabled]="!(profileForm.dirty && profileForm.valid)"
    [title]="'Update profile'"
    (clicked)="submitForm(profileForm.value, profileForm.valid)"
  ></app-button>
</form>

<ng-template
  #validation
  let-errors="errors"
  let-type="type"
  let-formErrors="formErrors"
>
  <div class="tooltip" *ngIf="errors || formErrors">
    <p
      *ngIf="
        type === EFormField.Text ||
        type === EFormField.Password ||
        type === EFormField.Password
      "
      [class.error]="errors.required"
    >
      Required field
    </p>
    <p
      *ngIf="type === EFormField.Password"
      [class.error]="errors.required || errors.minlength"
    >
      Minimum length of 8
    </p>
    <p
      *ngIf="
        type === EFormField.Text ||
        type === EFormField.Email ||
        type === EFormField.Password
      "
      [class.error]="errors.maxlength"
    >
      Maximum length of 30
    </p>
    <p *ngIf="type === EFormField.Text" [class.error]="errors.lettersOnly">
      Only letters accepted
    </p>
    <p *ngIf="type === EFormField.Email" [class.error]="errors.emailInvalid">
      Invalid email
    </p>

    <p
      *ngIf="type === EFormField.Password"
      [class.error]="errors.uppercaseRequired"
    >
      Uppercase letter required
    </p>
    <p
      *ngIf="type === EFormField.Password"
      [class.error]="errors.digitsRequired"
    >
      Number required
    </p>
    <p
      *ngIf="type === EFormField.Password"
      [class.error]="formErrors.notMatchingPasswords"
    >
      Matching passwords
    </p>
    <p
      *ngIf="type === EFormField.Password"
      [class.error]="errors.containsNotAllowedChar"
    >
      Only allowed characters
    </p>
  </div>
</ng-template>
