@import "../../../theme.scss";

:host {
  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
    border-radius: 14px;
    font-size: $font-size-xxs;

    &.white {
      background-color: $white;
    }

    &.dark {
      background-color: $dark;
    }

    &.dark-smoke {
      background-color: $dark-smoke;
    }
  }
}
