@import "../../../theme.scss";

:host {
  .input__container {
    position: relative;

    .input {
      @include styled-input;
    }

    .input__icon {
      position: absolute;
      right: 8px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
}
