<div class="input__container">
  <mat-icon class="input__icon" *ngIf="!!icon">{{ icon }}</mat-icon>
  <input
    #input
    type="text"
    class="input"
    [attr.name]="name ? name : null"
    [ngModel]="value"
    [placeholder]="placeholder"
    (ngModelChange)="onInputChanged($event)"
    (click)="onInputClick()"
  />
  <div class="input__dropdown">
    <ul
      *ngIf="
        isDropdownVisible &&
        availableSelections &&
        availableSelections.length > 0
      "
    >
      <li
        *ngFor="let selection of availableSelections"
        (click)="onItemSelect($event, selection)"
      >
        {{ selection }}
      </li>
    </ul>
  </div>
</div>
