@import "../../../theme.scss";

:host {
  .input__container {
    position: relative;

    .input {
      @include styled-input;

      &__icon {
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }

      &__dropdown {
        position: absolute;
        width: 100%;
        background-color: $smoke;
        box-shadow: 1px 1px 2px $light-smoke;

        ul {
          list-style: none;
          margin: 0;
          padding: $padding-s;

          li {
            padding: $padding-s;

            &:hover {
              cursor: pointer;
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}
