/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "material-icons/iconfont/material-icons.css";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button,
p,
a,
::placeholder {
  font-weight: 300;
}
