$white: hsl(0, 99%, 99%);
$smoke: hsl(0, 0%, 95%);
$light-smoke: hsl(0, 0%, 68%);
$dark-smoke: hsl(0, 2%, 34%);
$dark: hsl(0, 2%, 16%);
$primary-color: hsl(72, 99%, 67%);

$padding-b: 2rem;
$padding-m: 1rem;
$padding-s: 0.4rem;

$font-size-xxs: 0.6rem;
$font-size-xs: 0.75rem;
$font-size-s: 0.85rem;
